@import '/assets/styles/config.scss';

.profile-top-block{
  padding: 25px;
  .user-image-wrapper{
    display: inline-block;
    .user-image{
      width: 160px;
      height: 160px;
      display: inline-block;
      @include border(8px solid, #eee, top right bottom left);
      img{
        max-height: 100%;
      }
    }
    .upload{
      display: block;
      color: #4D7AFF;
      font-size: 13px;
      .icon{
        margin-right: 5px;
      }
    }
  }
  .form-inline{
    margin-bottom: 10px !important;
    .inline-data{
      font-size: 14px;
      margin: 0 0 0 15px;
    }
  }
  .vertical-hr{
    height: 100%;
    position: absolute;
    right: 10%;
    width: 2px;
    background-color: #DBDBEA;
    top: 0;
    margin: 0;
  }
}

.social-link{
  .list-group{
    margin: 0;
    .list-group-item{
      @include border(0px solid, transparent, top right left !important);
      @include border(1px solid, $border-color, bottom);
      margin: 0;
      @include border-radius(0);
      overflow: hidden;
      .item-name{
        display: inline-block;
        margin-top: 4px;
        .icon{
          width: 22px;
          height: 22px;
          display: inline-block;
          vertical-align: middle;
          @include border-radius(50%);
          background-color: $primary-color;
          color: $white-color;
          text-align: center;
          font-size: 12px;
          margin-right: 10px;
          padding-top: 5px;
        }
      }
      &:last-child{
        @extend .border-0;
        padding-bottom: 0;
      }
    }
  }
}
.aboutme{
  textarea{
    height: 136px;
    resize: none;
  }
}

.myprofile{
  .panel{
    @include border-radius(0);
    box-shadow: none;
    .panel-heading{
      padding: 15px 25px 0px 25px;
    }
    .panel-body{
      padding: 10px 25px 25px 25px
    }
  }
}
