<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="#" title="Dashboard"><span class="side-ico"><i class="fa fa-map"></i></span></a>
            <ul class="submenu">
                <li>Map</li>
            </ul>
        </li>
        <li> <a href="#" ><span class="side-ico"><i class="fa fa-camera"></i></span></a>
            <ul class="submenu">
                <li>Scheduler</li>
            </ul>
        </li>
        <li> <a href="#" ><span class="side-ico"><i class="fa fa-snowflake-o"></i></span></a>
            <ul class="submenu">
                <li>Activities</li>
            </ul>
        </li>
        <li> <a href="#"  title="Tasks"><span class="side-ico"><i class="fa fa-tasks"></i></span></a>
            <ul class="submenu">
                <li>Tasks</li>
            </ul>
        </li>
        <li> <a href="#" ><span class="side-ico"><i class="fa fa-ravelry"></i></span></a>
            <ul class="submenu">
                <li>Contact</li>
            </ul>
        </li>
       
    </ul>
</div>